<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {% block body %}
      {% set foo = 'bar' %}
      {{ foo }}
    {% endblock %}
  </body>
</html>
